<% layout("layouts/boilerplate") %>
<form id="checkoutForm" method="POST" action="payment/charge">
    <script type="text/javascript" src="/javascripts/omise.js"
            data-key="<%= process.env.OMISE_PUBLIC_KEY %>" 
            data-amount="2000"
            data-currency="THB"
            data-default-payment-method="credit_card">
    </script>
</form>